<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ws.vpn_server.dao.WsUserDao">


    <select id="getLastPort" resultType="java.lang.Integer">
        SELECT t.port from ws_user t where
         is_deleted = 0
         order by t.id desc
         limit 1
    </select>
    <select id="getExpireUserList" resultType="com.ws.vpn_server.domain.entity.WsUserEntity">
        select t.id as id,
        t.username, t.is_valid as isValid
        from ws_user t
        where t.is_deleted = 0
        and t.end_time is not null
        <![CDATA[ and t.end_time <= now() ]]>
    </select>


</mapper>